html,
body {
  width: 100%;
}
.container {
  width: 1080px;
  margin: 0 auto;
}
#head {
  width: 100%;
  height: 48px;
  background: #333;
}
#head .container {
  height: 100%;
}
#headList {
  float: right;
  height: 100%;
  color: #e7e7e7;
}
#headList > span {
  float: left;
  height: 16px;
  border-right: 1px solid #666;
  margin-top: 17px;
}
#headList li {
  font-size: 14px;
  float: left;
  height: 100%;
  padding: 0 10px;
  line-height: 48px;
}
#headList li > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 0 0;
  vertical-align: middle;
}
#headList li:nth-of-type(3) > span {
  background-position-y: -964px;
}
#headList li:nth-of-type(5) {
  position: relative;
}
#headList li:nth-of-type(5):hover div {
  height: 80px;
}
#headList li:nth-of-type(5) > span {
  background-position-y: -1680px;
}
#headList li:nth-of-type(5) > div {
  width: 100%;
  height: 0;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: -5px;
  z-index: 5;
  background: #fff;
}
#headList li:nth-of-type(5) > div a {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #333;
}
#headList li:nth-of-type(5) > div a:hover {
  color: #fff;
  background-color: #845f3f;
}
#headList li a {
  color: #e7e7e7;
}
#headList li a:hover {
  color: #fff;
}
#search {
  width: 100%;
  height: 76px;
  padding: 20px 0 5px 0;
}
#search .container {
  height: 100%;
}
#search .container h1 {
  float: left;
  height: 100%;
  width: 123px;
  text-indent: -9999px;
  background: url(../images/index/icon/logo@2x.cf8cc6a8.png) no-repeat 50%;
  background-size: 100%;
}
#search .container .left {
  height: 100%;
  float: right;
  padding-left: 30px;
}
#search .container .left .h2Box {
  height: 100%;
  width: 420px;
  float: left;
  line-height: 51px;
}
#search .container .left .h2Box a {
  margin-right: 32px;
  font-size: 18px;
  color: #666;
}
#search .container .left .search {
  float: right;
  height: 100%;
}
#search .container .left .search label {
  float: left;
  width: 281px;
  height: 41px;
  padding: 9px 0 0 35px;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}
#search .container .left .search label span {
  position: absolute;
  top: 20%;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 0 -1474px;
}
#search .container .left .search label input {
  height: 100%;
  width: 100%;
  border: none;
}
#search .container .left .search > a {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 12px;
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 0 -1200px;
}
#shopdis > h2 {
  padding: 30px 0;
  font-size: 13px;
  font-weight: 400;
}
#shopdis > h2 > span:first-child {
  color: #000;
}
#shopdis > h2 > span:last-child {
  color: #999;
}
#shopdis > nav {
  width: 100%;
  height: 42px;
  margin-bottom: 3px;
  background-color: #fafafa;
  color: #999;
  line-height: 40px;
}
#shopdis > nav > a {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 10px 0 7px;
  border: 3px solid #999;
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 50px -420px #fff;
}
#shopdis > nav > .sch {
  background-position-x: -1px;
}
#shopdis > nav > span {
  width: 130px;
  height: 100%;
  display: inline-block;
}
#shopdis > nav > span:nth-of-type(2) {
  width: 300px;
}
#shopdis > nav > span:nth-of-type(3) {
  width: 205px;
}
#shopdis > nav > span:nth-of-type(4) {
  width: 208px;
}
#shopdis > nav > span:nth-of-type(5) {
  width: 129px;
}
#shopdis > nav > span:nth-of-type(6) {
  width: 28px;
}
#shopdis > .bottom {
  width: 100%;
  height: 80px;
  background: #fafafa;
  margin-bottom: 160px;
}
#shopdis > .bottom > p {
  float: right;
  width: 150px;
  height: 100%;
  padding-top: 25px;
  font-size: 20px;
}
#shopdis > .bottom > p > span:nth-child(1) {
  color: #000;
}
#shopdis > .bottom > p > span:nth-child(2) {
  color: #c00000;
}
#shopdis > .bottom > button {
  float: right;
  width: 200px;
  height: 100%;
  background-color: #e7e7e7;
  color: #fff;
  font-size: 20px;
  border: none;
}
#shopdis > .bottom .pay {
  background: #c00000;
}
#shops {
  width: 100%;
  padding-bottom: 100px;
}
#shops > li {
  width: 100%;
  height: 142px;
  border-bottom: 1px dashed #e7e7e7;
}
#shops > li > div {
  float: left;
  height: 100%;
}
#shops > li > div:nth-of-type(1) {
  width: 45px;
  padding: 35px 0;
  line-height: 71px;
}
#shops > li > div:nth-of-type(1) > a {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 10px 0 7px;
  border: 3px solid #999;
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 50px -420px #fff;
}
#shops > li > div:nth-of-type(1) .sch {
  background-position-x: -1px;
}
#shops > li > div:nth-of-type(2) {
  width: 120px;
  line-height: 142px;
  font-size: 0;
}
#shops > li > div:nth-of-type(2) img {
  width: 120px;
  height: 120px;
  background: red;
  vertical-align: middle;
}
#shops > li > div:nth-of-type(3) {
  width: 208px;
  padding: 35px 0;
}
#shops > li > div:nth-of-type(3) > .wrap {
  margin-top: 20px;
  float: left;
  border: 1px solid #b3b3b3;
  font-size: 0;
}
#shops > li > div:nth-of-type(3) > .wrap > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#shops > li > div:nth-of-type(3) > .wrap > span:nth-of-type(1) {
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 0 -1406px;
}
#shops > li > div:nth-of-type(3) > .wrap > span:nth-of-type(2) {
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 0 -1032px;
}
#shops > li > div:nth-of-type(3) > .wrap > input {
  width: 60px;
  height: 30px;
  border: none;
  vertical-align: middle;
  border-right: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  text-align: center;
}
#shops > li > p {
  float: left;
  height: 100%;
}
#shops > li > p:first-of-type {
  width: 300px;
  padding: 27px 90px 27px 5px;
}
#shops > li > p:nth-of-type(2) {
  width: 215px;
  padding: 35px 0;
  line-height: 71px;
  font-size: 14px;
  color: #333;
}
#shops > li > p:nth-of-type(3) {
  width: 130px;
  padding: 35px 0;
  line-height: 71px;
  color: #c00000;
  font-size: 14px;
}
#shops > li > span {
  float: left;
  width: 60px;
  height: 100%;
  padding: 35px 0;
  text-align: center;
  line-height: 71px;
}
#shops > li > span > a {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 0 -131px;
}
#shops > li > span > a:hover {
  background-position-y: -114px;
}
#foot {
  width: 100%;
  height: 136px;
  margin-top: 60px;
  padding: 45px 0;
}
#foot .container {
  height: 100%;
}
#foot .container h2 {
  float: left;
  width: 123px;
  height: 100%;
  background: url(../images/index/icon/logo@2x.cf8cc6a8.png) no-repeat 50%;
  background-size: 100%;
}
#foot .container div {
  float: right;
  width: 700px;
  height: 92px;
  padding-right: 138px;
  position: relative;
}
#foot .container div > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 36px;
  background: url(../images/index/icon/f-logo.c6285587.png) no-repeat 50%;
  background-size: 100%;
}
#foot .container div p {
  line-height: 23px;
  font-size: 12px;
}
#foot .container div p:nth-child(1) > span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/index/icon/record-icon.d0289dc0.png) no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
#fixbar {
  width: 81px;
  height: 363px;
  position: fixed;
  top: 220px;
  right: 10px;
  z-index: 999;
  padding: 0 5px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}
#fixbar a {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
}
#fixbar a span:nth-child(1) {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 8px;
  background: url(../images/index/icon/yp-icons.7c45b9c9.png) no-repeat 0;
}
#fixbar a:nth-child(1) span:nth-child(1) {
  background-position-y: -1646px;
}
#fixbar a:nth-child(1):hover > span {
  background-position-y: -1612px;
  color: #845f3f;
}
#fixbar a:nth-child(2) span:nth-child(1) {
  background-position-y: -1274px;
}
#fixbar a:nth-child(2):hover > span {
  background-position-y: -1240px;
  color: #845f3f;
}
#fixbar a:nth-child(3) span:nth-child(1) {
  background-position-y: -797px;
}
#fixbar a:nth-child(3):hover > span {
  background-position-y: -763px;
  color: #845f3f;
}
#fixbar a:nth-child(4) span:nth-child(1) {
  background-position-y: -1002px;
}
#fixbar a:nth-child(4):hover > span {
  background-position-y: -1784px;
  color: #845f3f;
}
#fixbar a:nth-child(5) {
  border: none;
}
#fixbar a:nth-child(5) span:nth-child(1) {
  background-position-y: -1305px;
}
#fixbar a:nth-child(5):hover > span {
  background-position-y: -1339px;
  color: #845f3f;
}
